.loader {
  .spinner-border {
    width: 5em;
    height: 5em;
    border-width: 0.35em;
    -webkit-animation: spinner-border 1.2s linear infinite;
    animation: spinner-border 1.2s linear infinite;
  }
}